#System files
.DS_Store
Thumbs.db

# Editor directories and files
/.settings
/.project
/.buildpath
/.idea

# Config files
/config
/log

#Runtime
app/*/Runtime
runtime/Runtime
library/Runtime/Command/*
!library/Runtime/Command/.runtime
*/*/File

/vendor